.header {
    position: relative;
    height: 100vh;
    background-image:url('../images/amenagements/massifs/Amenagement_massif_accueil.JPG');
    background-repeat:no-repeat;
    background-position:right top;
    background-size: cover;
}

#content:nth-child(2n+1) {
    position: relative;
}

#content section {
    
}